[Unit]
Description=Timetable Telegram bot
After=network-online.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/timetable-bot /etc/timetable-bot.yml
Restart=on-failure
StateDirectory=timetable-bot
DynamicUser=yes
Environment="USING_SYSTEMD=1"

[Install]
WantedBy=multi-user.target
